*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3
media/
*.log

venv/
.env
.env.local
*.env


node_modules/
build/
dist/
.cache/
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

.coverage
htmlcov/
pytest_cache/

version: "3.9"

services:
  backend:
    build: ./backend
    container_name: quiz_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: quiz_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
